@use "./../styles/colors.scss" as colors;

.dialog {
  background-color: colors.$white;
  color: black;
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 16px;
  display: flex;

  @media only screen and (max-width: 768px) {
    width: 95%;
  }

  button {
    width: 100%;

    &:hover {
      background-color: colors.$darkGray;
    }
  }
}

.dialogPanel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.contentContainer {
  display: grid;
  grid-template-columns: 70% 30%;
  //flex-wrap: wrap;
  gap: 8px;
  width: 100%;

  div,
  input {
    width: 100%;
  }

  button {
    width: 100%;
    background-color: colors.$almostBlack;
    justify-self: end;
    grid-column: 2;
  }
}