// use styles
@use "./../styles/colors.scss" as colors;

.menuContainer {
  position: relative;
}

.menuButton {
  appearance: none; 
  border: none;
  background-color: transparent;
}

.menuItems {
  background-color: colors.$white;
  width: 100px;
  color: colors.$black;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  padding: 8px;
  border-radius: 5px;
  z-index: 2;

  button {
    appearance: none; 
    border: none;
    background-color: transparent;
    color: colors.$black;
    text-align: left;
    padding: 8px;
    border-radius: 5px;

    &:hover {
      background-color: colors.$darkGray;
      color: colors.$white;
    }
  }

  button.active {
    color: colors.$white;
    background-color: colors.$darkGray;
    border-radius: 5px;
  }

  [data-headlessui-state="active"] {
    color: colors.$white;
    background-color: colors.$darkGray;
  }

}
